@keyframes pulsate {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 60%;
  }
  100% {
    opacity: 0%;
    transform: scale(1.3);
  }
}

.about {
  background-color: #0a2750;
  display: flex;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
}

.about__title {
  padding: 100px 0 0 88px;
  margin: 0;
  max-width: 251px;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 2;
}

.about__content {
  max-width: 660px;
  margin: 119px 88px 173px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.about__paragraph {
  color: #ffffff;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  z-index: 2;
}

.about__circle {
  background-color: #2f80ed;
  position: absolute;
  width: 426px;
  height: 426px;
  top: -152px;
  left: -129px;
  border-radius: 50%;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
